#field{
 border: 1px solid #0066ff;
}
.point{
  position:absolute;
}
.red{
  color:#f00;
}
.blue{
  color:#00f;
}

#clear{
		font-size: 1.4em;
		font-weight: bold;
		padding: 10px 30px;
		background-color: #248;
		color: #fff;
		border-style: none;
}
